#canvas{
    position: relative;
    display: grid;
    place-items: center;

    perspective: 800px;
    overflow: hidden;
    user-select: none;
    touch-action: none;
    background-color: rgba(34, 34, 34, 0.2);
}

#mainCube{
    width: calc(var(--c) * 3);
    height: calc(var(--c) * 3);
    transform-style: preserve-3d;

    transform: rotateX(-30deg) rotateY(-45deg);
    cursor: grab;
}

#mainCube.showCell .cube .face{
    opacity: .2;
}
#mainCube.showCell .cube p{
    background-color: white;
    display: grid;
    place-items: center;
    width: calc(var(--moves-width) / 8);
    aspect-ratio: 1;
}

#mainCube .cube{
    position: absolute;
    min-width: var(--c); min-height: var(--c);
    transform-style: preserve-3d;
    
    display: grid;
    place-items: center;
}

.cube .face{
    --transform-factor: 1;
    --translate-calc: calc((var(--transform-factor) * var(--c)) / 2);

    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;

    border: 1px solid black;
}

.cube .face:nth-child(odd){--transform-factor: -1;}
.cube .face:nth-of-type(1){transform: translateZ(var(--translate-calc));}
.cube .face:nth-of-type(2){transform: translateZ(var(--translate-calc)) rotateY(180deg);}
.cube .face:nth-of-type(3){transform: translateY(var(--translate-calc)) rotateX(90deg) rotateY(180deg) rotateZ(180deg);}
.cube .face:nth-of-type(4){transform: translateY(var(--translate-calc)) rotateX(90deg);}
.cube .face:nth-of-type(5){transform: translateX(var(--translate-calc)) rotateY(90deg);}
.cube .face:nth-of-type(6){transform: translateX(var(--translate-calc)) rotateY(-90deg);}

/*  */

#mainCube .face{
    background-color: black;
    user-select: none;
}

/*  */

#mainCube #c1{
    transform: translateZ(var(--c));
}

#mainCube #c2{
    transform: translateZ(var(--c)) translateX(var(--c));
}

#mainCube #c3{
    transform: translateZ(var(--c)) translateX(calc(2 * var(--c)));
}

#mainCube #c4{
    transform: translateZ(var(--c)) translateY(var(--c));
}
#mainCube #c5{
    transform: translateZ(var(--c)) translateX(var(--c)) translateY(var(--c));
}
#mainCube #c6{
    transform: translateZ(var(--c)) translateX(calc(2 * var(--c))) translateY(var(--c));
}

#mainCube #c7{
    transform: translateZ(var(--c)) translateY(calc(2 * var(--c)));
}
#mainCube #c8{
    transform: translateZ(var(--c)) translateX(var(--c)) translateY(calc(2 * var(--c)));
}
#mainCube #c9{
    transform: translateZ(var(--c)) translateX(calc(2 * var(--c))) translateY(calc(2 * var(--c)));
}

/*  */

#mainCube #c10{
    transform: none;
}
#mainCube #c11{
    transform: translateX(var(--c));
}
#mainCube #c12{
    transform: translateX(calc(2 * var(--c)));
}

#mainCube #c13{
    transform: translateY(var(--c));
}
#mainCube #c14{
    transform: translateX(var(--c)) translateY(var(--c));
}
#mainCube #c15{
    transform: translateX(calc(2 * var(--c))) translateY(var(--c));
}

#mainCube #c16{
    transform: translateY(calc(2 * var(--c)));
}
#mainCube #c17{
    transform: translateX(var(--c)) translateY(calc(2 * var(--c)));
}
#mainCube #c18{
    transform: translateX(calc(2 * var(--c))) translateY(calc(2 * var(--c)));
}

/*  */

#mainCube #c19{
    transform: translateZ(calc(-1 * var(--c)));
}
#mainCube #c20{
    transform: translateZ(calc(-1 * var(--c))) translateX(var(--c));
}
#mainCube #c21{
    transform: translateZ(calc(-1 * var(--c))) translateX(calc(2 * var(--c)));
}

#mainCube #c22{
    transform: translateZ(calc(-1 * var(--c))) translateY(var(--c));
}
#mainCube #c23{
    transform: translateZ(calc(-1 * var(--c))) translateX(var(--c)) translateY(var(--c));
}
#mainCube #c24{
    transform: translateZ(calc(-1 * var(--c))) translateX(calc(2 * var(--c))) translateY(var(--c));
}

#mainCube #c25{
    transform: translateZ(calc(-1 * var(--c))) translateY(calc(2 * var(--c)));
}
#mainCube #c26{
    transform: translateZ(calc(-1 * var(--c))) translateX(var(--c)) translateY(calc(2 * var(--c)));
}
#mainCube #c27{
    transform: translateZ(calc(-1 * var(--c))) translateX(calc(2 * var(--c))) translateY(calc(2 * var(--c)));
}

#timer{
    position: absolute;
    top: 0; left: 0;
    padding: var(--padding-size);

    background-color: rgba(34, 34, 34, 0.2);
    color: white;
}